{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="title">
        <div class="title-container">
            <h1>Añadir entrada</h1>
        </div>
    </div>
    <div class="form">
        <div class="form-container">
            {{form_start(form, { 'enctype':'multipart/form-data' })}}
            
            <div class="form__group">
                <label>Titulo: </label>
                {{form_widget(form.title)}}
            </div>
            <div class="form__group">
                <label>Contenido: </label>
                {{form_widget(form.content)}}
            </div>
            <div class="form__group">
                <label>Estado: </label>
                {{form_widget(form.status)}}
            </div>
            <div class="form__group">
                <label>Categoria: </label>
                {{form_widget(form.category)}}
            </div>
            <div class="form__group">
                <label>Etiquetas: </label>
                {{form_widget(form.tags)}}
            </div>
            <div class="form__group">
                <label>Imagen: </label>
                {{form_widget(form.image)}}
            </div>
            <div class="form__group">
                <label>Activo: </label>
                {{form_widget(form.active)}}
            </div>
            <div class="form__group">
                <label>Página: </label>
                {{form_widget(form.page)}}
            </div>

        {{form_end(form)}}
        </div>
    </div> 
        
    {{ tinymce_init() }}
    <script>
     function callback_tinymce_init(editor) {
        // execute your best script ever
    }
     </script>
{% endblock %}


