{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="title">
        <div class="title-container">
            <h1>{{entry.title}}</h1>
        </div>
    </div>

    <img src="{{ asset("dist/uploads/"~entry.image)}}" style="width: 100%;" />
    <br>
    {{ entry.content|raw }}
    <br>
    <p><strong>Categoria:</strong> {{entry.category.name}}</p>
    <p><strong>Autor:</strong> {{entry.user.name}}</p>
    <p><strong>Tags:</strong> 
        {% for et in entry.entryTag %}
            <span class="label label-default">{{et.tag.name}}</span>
        {% endfor %}
    </p>
   <br>
   {% if comments|length > 0 %}
   <h2>Comentarios</h2>
       {% for comment in comments %}
            <p>
            <em>{{ comment.date|date("d/m/Y") }}</em> | <strong>{{comment.user}}</strong> <br>
            {{comment.content}}
            </p>
       {% endfor %}
       <hr>
   {% endif %}
   <br>
   <div class="title">
        <div class="title-container">
            <h2>Enviar un comentario</h2>
        </div>
    </div>
    <div class="form">
        <div class="form-container">
        {% if app.user %}
            {% for message in app.session.flashbag().get('status') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            {{form_start(form, {'attr': {'novalidate': 'novalidate'}} )}}
            <div class="form__group">
                <label>Comentario: </label>
                {{form_widget(form.content)}}
            </div>
            {{form_end(form)}}
        {% else %}
            Para poder dejar un comentario debes estar registrado. 
        {% endif %}
        </div>
    </div> 
{% endblock %}