{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="title">
        <div class="title-container">
            <h1>{% trans %}title_pages{% endtrans %}</h1>
            <a href="{{path("blog_add_page")}}" class="listado--add">{% trans %}add_page{% endtrans %}</a>
        </div>
    </div>
    
    <div class="listado">
        <div class="listado-container">
        
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {% for page in pages %}

                {% set titulo = page.title|friendlyUrl %}
                <tr>
                    <td><a href="{{path("blog_view_page",{"id":page.id, "title":titulo})}}">{{ page.title }}</a></td>
                    <td>{{ page.description|slice(0, 200)|raw }}...</td>
                    <td>
                       <a href="{{path("blog_edit_page", {"id":page.id})}}" class="btn-edit">Editar</a>
                    </td>
                    <td>
                        <a href="{{path("blog_delete_page", {"id":page.id})}}" class="btn-delete" onclick="return confirm('Confirmas el borrado?')">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>

{% endblock %}