<header class="header">
    <div class="header-container">
        <div class="header__logo">
            <a href="{{path("blog_homepage")}}">
                <img src="{{ asset("dist/uploads/logo.png")}}">
            </a>
        </div>

        {% include "BlogBundle:Layout:nav.html.twig" %}
        
        <div class="header__top-right">
            {% if app.user != null %}
            <a href="{{path("blog_edit_user", {"id":app.user.id})}}">
            {% endif %}
                {% if app.user != null %}
                    {% trans %}hello{% endtrans %} <strong>{{app.user.name}} {{app.user.surname}}</strong> | <a href="{{path("logout")}}">{% trans %}logout{% endtrans %}</a>
                {% else %}
                    <a href="{{path("login")}}">{% trans %}title_login{% endtrans %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{path("blog_add_user")}}">{% trans %}title_register{% endtrans %}</a>
                {% endif %}
            {% if app.user != null %}
            </a>
            {% endif %}
            -  
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'es'}))}}"> ES </a> | 

            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'}))}}"> EN </a> | 
            
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'ca'}))}}"> CA </a>
        </div>
    </div>
</header>