<nav class="main-nav">
    <ul>
        <li><a href="{{path("blog_homepage")}}">Entradas</a></li>
        <li><a href="{{path("blog_index_page")}}">Páginas</a></li>
        <li><a href="{{path("blog_index_category")}}">Categorías</a>
            {#<ul class="submenu">
                {% block menu %}{% endblock %}
            </ul>#}
        </li>
        <li><a href="{{path("blog_index_tag")}}">Etiquetas</a></li>
        <li><a href="{{path("blog_index_user")}}">Usuarios</a></li>
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{path("blog_index_comment")}}">Comentarios</a></li>
        {% endif %}
    </ul>
</nav>