<nav class="main-nav">
    <ul>
        <li><a href="{{path("blog_homepage")}}">{% trans %}menu_entries{% endtrans %}</a></li>
        <li><a href="{{path("blog_index_page")}}">{% trans %}menu_pages{% endtrans %}</a></li>
        <li><a href="{{path("blog_index_category")}}">{% trans %}menu_categories{% endtrans %}</a>
            {#<ul class="submenu">
                {% block menu %}{% endblock %}
            </ul>#}
        </li>
        <li><a href="{{path("blog_index_tag")}}">{% trans %}menu_tags{% endtrans %}</a></li>

        {% if app.user != null %}
        <li><a href="{{path("blog_index_user")}}">{% trans %}menu_users{% endtrans %}</a></li>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{path("blog_index_comment")}}">{% trans %}menu_comments{% endtrans %}</a></li>
        {% endif %}
        
    </ul>
</nav>